/* Background CSS */
.bg-dark{
    background-color: #223c53;
}

/* Text CSS */
.text-uppercase{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}

/* Image CSS */
.img-fluid{
    max-width: 300px;
    height: auto;
    border-radius: 300px;
    border: 1px solid #223c53;
}
.img-fluid-item{
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

/* Star CSS */
hr.star-light{
    border-color: #fff;
}
hr.star-dark{
    border-color: #012821;
}
.star-light::after{
    color: #fff;
    background-color: #1abc9a;
}
.star-dark::after{
    color: #012821;
    background-color: #fff;
}
.star-light, .star-dark{
    border: none;
    border-top: 0.4rem solid;
    border-radius: 0.4rem;
    width: 25%;
    margin: 2.5rem auto;
    overflow: visible;
    height: 0;
}
.star-light::after, .star-dark::after{
    content: "\2605";
    font-weight: bold;
    font-size: 3rem;
    position: relative;
    top: -2.5rem;
    padding: 0 1rem;
}

/* Button CSS */
.btn{
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

.btn-download{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 2rem 3rem;
    margin: 2rem;
    border-radius: 0.5rem;
    transition: all 0.5s;
}
.btn-download:hover{
    color: #012821;
    background-color: #fff;
}
.btn-download:hover i{
    color: #223c53;
}
.btn-submit{
    font-size: 2rem;
    padding: 2rem, 3rem;
    background-color: #1abc9a;
    border: none;
    color: #fff;
    border-radius: 0.5rem;
    transition: all 0.5s;
}
.btn-submit:hover{
    color: #1abc9a;
    background-color: #fff;
    border: 2px solid #1abc9a;
}
.btn-block{
    display: block;
    width: 100%;
}
.btn-social{
    display: inline-block;
    background-color: transparent;
    color: #fff;
    font-size: 3rem;
    transition: all 0.5s;
}
.btn-social:hover{
    color: #1abc9a;
}

/* Form CSS */
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    border-bottom: 2px solid #999;
}
.form-control{
    font-size: 2rem;
    display: block;
    border: none;
    width: 100%;
    padding: 2rem 0;
    resize: none;
}
.form-group input:focus, .form-group textarea{
    outline: 0;
}