/* Responsive CSS */
@media (max-width: 1200px){
    html{
        font-size: 10px;
    }
    .items .item{
        width: 30%;
    }
    footer .container .col{
        width: 33%;
    }
}
@media (max-width: 992px){
    html{
        font-size: 9px;
    }
    .items .item{
        width: 45%;
    }
    footer .container .col{
        width: 33%;
    }
    #about .container .about-text{
        width: 80%;
    }
    #contact .container #contact-form{
        width: 70%;
    }
    #nav-links ul{
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    #nav-links .nav-icon{
        display: inline-block;
    }
    #nav-links.nav-menu li:not(:first-child){
        display: none;
    }
}
@media (max-width: 768px){
    html{
        font-size: 8px;
    }
    .items .item{
        width: 70%;
    }
    footer .container .col{
        width: 50%;
    }
    #about .container .about-text{
        width: 80%;
    }
    #contact .container #contact-form{
        width: 80%;
    }
}
@media (max-width: 546px){
    html{
        font-size: 7px;
    }
    .items .item{
        width: 80%;
    }
    footer .container .col{
        width: 60%;
    }
    #about .container .about-text{
        width: 80%;
    }
    #contact .container #contact-form{
        width: 80%;
    }
}